* {
    margin: 0;
    padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: rgb(94, 59, 4);
    text-align: center;
    margin-top: 0.9em;
    margin-right: 382px;
}
#contatos{
    font-family: sans-serif;
    color: rgb(85, 63, 19);
    text-align: center;
    margin-top: 1.9em;
    margin-right: 1000px;
}

#descricao{
    font-family: sans-serif;
    color: rgb(88, 68, 26);
}

#caixaDescr{
    background-color: #e0c8a7;
    border: 0;
    border-color: #f0b76e;
    border-radius: 0.5em;
    color: #f3d5ae;
    padding: 0.3em 0.3em;
    box-shadow: 2px 2px 2px rgba(54, 48, 32, 0.2);
    text-shadow: 1px 1px 1px rgba(128, 91, 41, 0.5);
    width: 750px;
    height: 65px;
    margin-left: -90px;
    text-align: center
}
/* Elemento de tag <body> */
body{
    font-family: sans-serif;
    font-size: 1em;
    color: #5a4610;
    justify-content: center;
    height: 100vh;
    background-color: #f0dabe;
    background-size: 1518px; 
    margin-left: 380px;
}

.link{
    /* text-decoration: none; */
    text-align: center;
    background-color: rgb(37, 36, 30);
    color: rgb(88, 78, 62);
    border: 1px solid rgb(32, 31, 28);
    padding:3px 5px;
    margin-top: 0.9em;

}

/* link que ainda não foi visitado */
a:link {
    color: #353029;
 }
 
 /* link que foi visitado */
 a:visited {
     color: #24201c;
 }
 
.imagem{
    margin-top: 1.3em;
    background-color: #aaa;
    border-radius: 50%;
    width: 185px;
    height: 185px;
    overflow: hidden;
    position: relative;
    margin-left: 20%;
}
.imagem img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.botao {
    font-size: 1.xem;
    background: #7a4504;
    border: 0;
    margin-bottom: 1em;
    color: #d6cbbc;
    padding: 0.3em 2em;
    box-shadow: 2px 2px 2px rgba(146, 74, 15, 0.2);
    text-shadow: 1px 1px 1px rgba(182, 112, 20, 0.5);
    margin-top: 1em;
    margin-left: 150px;
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #664207;
    box-shadow: inset 2px 2px 2px rgba(218, 192, 158, 0.2);
    text-shadow: none;
    
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}